### GR 1

Professor Warner's work for the GR. This was done with the first copy of the GR. All markdown was added later. All errors are Professor Warner's responsibility.

Question 4 - from the graphs I estimate that 14% of smokers, so 14, and 3% of non-smokers, so 15. There are 600:

In [1]:
29/600

0.04833333333333333

Create a choose function

In [2]:
from math import factorial

In [3]:
def choose(n,k):
    return factorial(n)//(factorial(n-k)*factorial(k))

Test function

In [4]:
choose(4,2)

6

What is probability of only 4 degrees:

In [5]:
choose(35,5)/choose(120,5)

0.0017034073141612592

What is probability of no four-degrees

In [6]:
choose(85,5)/choose(120,5)

0.1721159465899384

What is probability of at least one firstie:

In [7]:
1-choose(95,5)/choose(120,5)

0.6959748150185459

What is porbability sample will contain at least one from each class:

In [8]:
(25*30*30*35*116)/(choose(120,5)*factorial(2))

0.2396656185290283

Import numpy for my simulation

In [9]:
import numpy as np

In [10]:
np.prod([1,2,3])

6

Answer for at least one shirt on two or mor days. I used the compliment of no matches.

In [11]:
1-np.prod(np.arange(100,70.,-1))/(100**30)

0.9922089028629422

A simulation. The set function will return unique items, there are other ways to do this.

In [12]:
results=[]
for i in range(100000):
    temp=np.random.choice(np.arange(0,100,1),30)
    results.append(len(temp)>len(set(temp)))
sum(results)/100000

0.99213

Import datascience for this last series of questions:

In [1]:
import datascience as ds

Import data

In [14]:
grdata=ds.Table.read_table("nba_salaries.csv")
grdata

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

Fifth highest paid player in the league

In [15]:
grdata.sort(3,descending=True).show(6)

Team with the third highest combined salary

In [16]:
grdata.group("TEAM",np.sum).sort(3,descending=True)

TEAM                  | PLAYER sum | POSITION sum | '15-'16 SALARY sum
Cleveland Cavaliers   |            |              | 102.312
Oklahoma City Thunder |            |              | 96.8322
Golden State Warriors |            |              | 94.0851
Memphis Grizzlies     |            |              | 93.7964
Washington Wizards    |            |              | 90.0475
Houston Rockets       |            |              | 85.2858
San Antonio Spurs     |            |              | 84.6521
Charlotte Hornets     |            |              | 84.1024
Miami Heat            |            |              | 81.5287
New Orleans Pelicans  |            |              | 80.5146
... (20 rows omitted)

Lowest paid player on the Hornets

In [17]:
grdata.where("TEAM",ds.are.equal_to("Charlotte Hornets")).sort(3)

PLAYER             | POSITION | TEAM              | '15-'16 SALARY
Aaron Harrison     | SG       | Charlotte Hornets | 0.525093
Damien Wilkins     | SG       | Charlotte Hornets | 0.947276
Jorge Gutierrez    | PG       | Charlotte Hornets | 0.947276
Tyler Hansbrough   | PF       | Charlotte Hornets | 0.947276
Troy Daniels       | SG       | Charlotte Hornets | 0.947276
P.J. Hairston      | SF       | Charlotte Hornets | 1.20144
Jeremy Lin         | PG       | Charlotte Hornets | 2.139
Frank Kaminsky III | C        | Charlotte Hornets | 2.61252
Brian Roberts      | PG       | Charlotte Hornets | 2.85494
Jeremy Lamb        | SG       | Charlotte Hornets | 3.03436
... (8 rows omitted)

Info on Tyler Zeller

In [18]:
grdata.where("PLAYER","Tyler Zeller")

PLAYER       | POSITION | TEAM           | '15-'16 SALARY
Tyler Zeller | C        | Boston Celtics | 2.61698

Average salary of point guards on Nuggets

In [19]:
grdata.where("TEAM","Denver Nuggets").group("POSITION",np.mean)

POSITION | PLAYER mean | TEAM mean | '15-'16 SALARY mean
C        |             |           | 2.6163
PF       |             |           | 7.02498
PG       |             |           | 3.72362
SF       |             |           | 7.19577
SG       |             |           | 0.841949

The team with highest paid player versus average

In [20]:
grdata.group("TEAM",lambda x:np.max(x)-np.mean(x)).sort(3,descending=True)

TEAM                  | PLAYER | POSITION | '15-'16 SALARY
Brooklyn Nets         |        |          | 20.4866
Los Angeles Lakers    |        |          | 18.7629
New York Knicks       |        |          | 17.5362
Los Angeles Clippers  |        |          | 16.3861
Miami Heat            |        |          | 15.3987
Houston Rockets       |        |          | 15.2522
Memphis Grizzlies     |        |          | 15.2215
Oklahoma City Thunder |        |          | 14.1066
Atlanta Hawks         |        |          | 13.7022
Chicago Bulls         |        |          | 13.5247
... (20 rows omitted)

The third highest average salary for starters

In [21]:
grdata.group(["TEAM","POSITION"],np.max).group("TEAM",np.average).sort(3,descending=True)

TEAM                  | POSITION average | PLAYER amax average | '15-'16 SALARY amax average
Miami Heat            |                  |                     | 16.7818
Cleveland Cavaliers   |                  |                     | 16.4633
Oklahoma City Thunder |                  |                     | 14.1398
San Antonio Spurs     |                  |                     | 13.4068
Golden State Warriors |                  |                     | 13.3286
Houston Rockets       |                  |                     | 12.2406
Chicago Bulls         |                  |                     | 11.5649
Los Angeles Lakers    |                  |                     | 11.1655
New York Knicks       |                  |                     | 11.0119
Sacramento Kings      |                  |                     | 10.9539
... (20 rows omitted)