In [1]:
from datascience import *
import numpy as np

from math import factorial

def choose(n, c):
    "Number of ways to choose c items from a list of n items."
    return factorial(n) // (factorial(n - c) * factorial(c))

def permute(n, c):
    "Number of ways to select c items from a list of n items when order matters."
    return factorial(n) // (factorial(n - c))

nba=Table.read_table('nba_salaries.csv')

In [2]:
print((.14*500 + .03*100)/600)

0.12166666666666667

In [3]:
print(35*34*33*32*31/(120*119*118*117*116))

0.0017034073141612592

In [4]:
print(85*84*83*82*81/(120*119*118*117*116))

0.1721159465899384

In [5]:
print(25/120)

0.20833333333333334

In [6]:
print(25*30*30*25/(120*119*118*117))

0.002853162125345575

In [7]:
prob = 1
i = 0
while(i < 30):
    prob = prob * (100 - i)
    i += 1
    
i = 0
while(i < 30):
    prob = prob / 100
    i += 1
    
print(1 - prob)

0.9922089028629422

In [8]:
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [9]:
print(nba.where('PLAYER', are.equal_to('Tyler Zeller')))

PLAYER       | POSITION | TEAM           | '15-'16 SALARY
Tyler Zeller | C        | Boston Celtics | 2.61698

In [29]:
nug = nba.where('TEAM', are.equal_to('Denver Nuggets'))
avg = np.mean(nug['\'15-\'16 SALARY'])
avg

nug = nba.where('TEAM', are.equal_to('Los Angeles Lakers'))
avg = np.mean(nug['\'15-\'16 SALARY'])
avg

6.23708581818182

In [25]:
x = nba.groups(['POSITION', 'TEAM'], max).group('TEAM', np.mean).sort('\'15-\'16 SALARY max mean', descending=True)
x

TEAM                  | POSITION mean | PLAYER max mean | '15-'16 SALARY max mean
Miami Heat            |               |                 | 16.7818
Cleveland Cavaliers   |               |                 | 16.4633
Oklahoma City Thunder |               |                 | 14.1398
San Antonio Spurs     |               |                 | 13.4068
Golden State Warriors |               |                 | 13.3286
Houston Rockets       |               |                 | 12.2406
Chicago Bulls         |               |                 | 11.5649
Los Angeles Lakers    |               |                 | 11.1655
New York Knicks       |               |                 | 11.0119
Sacramento Kings      |               |                 | 10.9539
... (20 rows omitted)

In [22]:
nba.group('POSITION')

POSITION | count
C        | 69
PF       | 85
PG       | 85
SF       | 82
SG       | 96

In [26]:
def diff_between_team_mean(salary, team):
    mean = np.mean(nba.where('TEAM', are.equal_to(team))['\'15-\'16 SALARY'])
    return salary - mean

In [28]:
y = nba.with_column('val', diff_between_team_mean(nba['\'15-\'16 SALARY'], nba['TEAM'])).sort('val', descending=True)
y

PLAYER          | POSITION | TEAM                  | '15-'16 SALARY | val
Kobe Bryant     | SF       | Los Angeles Lakers    | 25             | 20.0459
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949        | 19.9408
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705        | 18.0164
Carmelo Anthony | SF       | New York Knicks       | 22.875         | 17.9209
Dwight Howard   | C        | Houston Rockets       | 22.3594        | 17.4053
Chris Bosh      | PF       | Miami Heat            | 22.1927        | 17.2387
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687        | 16.5146
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586        | 15.2046
Derrick Rose    | PG       | Chicago Bulls         | 20.0931        | 15.139
Dwyane Wade     | SG       | Miami Heat            | 20             | 15.0459
... (407 rows omitted)