# Lesson 3
#### C1C Albert Taglieri
These are the notes for lesson 3 in class, and code examples.

### Loading Packages Default Code

In [2]:
# Loading packages setup - from provided notes sheet
# The datascience is a unique package from Berkely, not used by 
#   other data scientists.  But, simple and helpful functions to
#   use and learn with.

import numpy as np
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

### Calculations Examples in Python
As we are learning python, we will demonstrate sample calculations in python. 

The calculations below find the amount of seconds in a year (normal non-leap year of 365 days).  The next tasks calculate the number of seconds for specific time intervals.

In [3]:
sec_per_minute  = 60
minute_per_hour = 60
hour_per_day    = 24
day_per_year    = 365
sec_per_year    = sec_per_minute * minute_per_hour * hour_per_day * day_per_year
print("Seconds in a year are: " + str(sec_per_year))

# Now we find the seconds in June
sec_in_june = sec_per_minute * minute_per_hour * hour_per_day * 30
print("Seconds in the month of June are: " + str(sec_in_june))

# Now the specific start and end: 1200 on 01 JUN to 0930 on 14 AUG
sec_aug_part =  13 * hour_per_day * minute_per_hour * sec_per_minute
sec_aug_part += sec_per_minute * minute_per_hour * 9
sec_aug_part += sec_per_minute * 30
sec_spec = sec_aug_part + sec_in_june
sec_spec -= sec_per_minute * minute_per_hour * 12
print("Seconds from 1200 on 01 JUN to 0930 on 14 AUG are: " + str(sec_spec))

Seconds in a year are: 31536000
Seconds in the month of June are: 2592000
Seconds from 1200 on 01 JUN to 0930 on 14 AUG are: 3706200

### Basic Data Stuff
Now we will analyze the world population with the datascience package

In [15]:
world_pop_table = Table.read_table('../Data/world_population.csv')
pop = world_pop_table['Population']
num_yrs = len(pop)
yr = []
for i in range(num_yrs):
    yr.append(1950 + i)
i = 0
p = 0
y = 0
while(y < 2015):
    p = pop[i]
    y = yr[i]
    i += 1
print("Population in " + str(y) + " was: " + str(p))
print("The growth from 1950 to 2015 was: " + str(p - pop[0]))
g = p - pop[0]
r = g/(2015-1950)
print("The average annual growth rate was: " + str(r) + " people per year.")

Population in 2015 was: 7256490011
The growth from 1950 to 2015 was: 4698861357
The average annual growth rate was: 72290174.72307692 people per year.

In [17]:
titanic_table = Table.read_table('http://raw.githubusercontent.com/oikobill/Kaggle/master/Titanic/data/train.csv')
labels = titanic_table.labels
print("Lables for the table: " + str(labels))

Lables for the table: ('PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked')